<header class="text-gray-600 body-font sticky top-0 bg-white border-b border-gray-200">
  <div class="container mx-auto flex justify-between p-5 pt-10 flex-col md:flex-row items-center lg:pt-2 lg:pb-2">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 ">
         {% load static %}
        <img  alt="Logo Company" class="w-20 h-20 lg:w-10  lg:h-10  object-contain object-center  inline-block " src="{% static 'isotipo.png' %}">
      <span class="ml-6 text-4xl lg:text-xl">Normand | CRM-Lite</span>
    </a>
  </div>
</header>