{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon"  href="{% static 'favicon.ico' %}">
        <title>Normand | CRM-Lite</title>
        <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
	</head>

	<body class="leading-normal tracking-normal font-sans">
        {% include 'header.html' %}
        <div class="container mx-auto ">
            {% include 'hero.html' %}
            {% include 'feature.html' %}
        </div>
        {% include 'footer.html' %}
	</body>
</html>
