{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon"  href="{% static 'favicon.ico' %}">
        <title>Normand | CRM-Lite</title>
        {% tailwind_css %}
	</head>

	<body class="leading-normal tracking-normal font-sans">
        <div class="w-full h-screen ">
            {% include 'hero.html' %}
        </div>
	</body>
</html>
