{% include 'crm-base.html' %}
{% load crm_currency %}

{% block content %}
    <section class="text-gray-600 body-font ">
        <div class="w-full px-8 flex flex-wrap p-5 flex-row items-center border-b border-gray-300">
            <a class="flex title-font font-medium items-center text-gray-900 ">
                <h1 class="text-xl mb-2 text-gray-500 lg:text-sm">Kanban view</h1>
            </a>
            <div class="ml-auto mr-auto flex flex-wrap items-center text-xl justify-center">
                <p class="text-gray-500 inline-flex items-center md:mb-2 lg:mb-0 lg:text-sm">{{ total_opportunities|currency }}
                    - {{ opportunities|length }} Leads</p>
            </div>
            <a href="{% url 'crm:kanban-opportunity' %}"
               class="{% if "/crm/opportunities/kanban/" in request.path %}bg-gray-200 rounded{% endif %} p-2 mr-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-10 h-10 lg:w-6 lg:h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z"/>
                </svg>
            </a>
            <a href="{% url 'crm:list-opportunity' %}"
               class="{% if "/crm/opportunities/list/" in request.path %}bg-gray-200 rounded{% endif %} p-2 mr-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-10 h-10 lg:w-6 lg:h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                </svg>
            </a>
            <button class="flex text-white text-xl bg-indigo-500 border-0 py-2 px-10 focus:outline-none hover:bg-indigo-600 rounded lg:text-sm"
                    onclick="opportunityModal()">New
            </button>
        </div>
        <div class="flex bg-gray-100 ">
            <div class="w-1/5 px-6 border-r-2 pt-5 h-screen">
                <div class="mb-10">
                    {% include 'components/mini_chart.html' %}
                </div>
                <div>
                    <h1 class="text-xl mb-2 text-gray-500 text-left">STAGES</h1>
                <ul class="ml-6">
                    <li>
                        <a href="{% url 'crm:kanban-opportunity' %}" class="flex justify-between pb-3">All <span class="bg-indigo-400 text-white text-xs font-medium  px-2 py-0.5 rounded ">{{ opportunities.count }}</span></a>
                    </li>
                    {% for stage in stages %}
                        <li>
                            <a href="{% url 'crm:kanban-opportunity' %}?q={{ stage.name }}" class="flex justify-between pb-3">{{ stage.name }}
                            <span class="bg-indigo-400 text-white text-xs font-medium  px-2 py-0.5 rounded">{{ stage.lead_set.all.count }}</span>
                            </a>
                        </li>
                    {% endfor %}

                </ul>
                </div>
            </div>
            {% include 'components/kanban_card.html' %}
        </div>
    </section>
{% endblock content %}