{% include 'crm-base.html' %}
{% load crm_currency %}

{% block content %}
    <section class="text-gray-600 body-font shadow-inner">
        <div class="w-full  grid grid-cols-3 gap-4 px-4 py-2">
            <div>
                <form action="{% url 'crm:kanban-opportunity' %}" method="GET">
                    <div class="relative p-2">
                        <div class="absolute inset-y-0 left-2 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="none"
                                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <input type="search"
                               class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-indigo-500 focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
                               placeholder="Search Opportunities"
                                name="q"
                               value="{{ q }}"
                        >
                    </div>
                </form>
            </div>
            <div class="ml-auto mr-auto flex flex-wrap items-center text-xl justify-center">
                <p class="text-gray-500 inline-flex items-center md:mb-2 lg:mb-0 lg:text-sm">{{ total_opportunities|currency }}
                    - {{ opportunities|length }} Leads</p>
            </div>
            <div class="flex flex-row justify-end items-center">
                <a href="{% url 'crm:kanban-opportunity' %}"
                   class="{% if "/crm/opportunities/kanban/" in request.path %}bg-gray-200 rounded{% endif %} p-2 mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-10 h-10 lg:w-6 lg:h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z"/>
                    </svg>
                </a>
                <a href="{% url 'crm:list-opportunity' %}"
                   class="{% if "/crm/opportunities/list/" in request.path %}bg-gray-200 rounded{% endif %} p-2 mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-10 h-10 lg:w-6 lg:h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                    </svg>
                </a>
                <button class="flex text-white text-xl bg-indigo-500 border-0 py-2 px-10 focus:outline-none hover:bg-indigo-600 rounded lg:text-sm"
                        onclick="opportunityModal()">New
                </button>
            </div>
        </div>
        <div class="flex bg-gray-100 ">
            <div class="w-1/6 px-6 border-r-2 pt-5 h-screen bg-indigo-900 flex flex-col">
                <div class="mb-10 shadow-xl ">
                    {% include 'components/mini_chart.html' %}
                </div>
                <div class="border border-0 border-indigo-400 rounded-md p-5 bg-indigo-800 shadow-xl">
                    <h1 class="text-xl mb-2 text-gray-100 text-left">STAGES</h1>
                    <ul class="ml-6">
                        <li>
                            <a href="{% url 'crm:kanban-opportunity' %}"
                               class="flex justify-between pb-3 text-gray-100">All <span
                                    class="bg-indigo-500 text-white text-xs font-medium  px-2 py-0.5 rounded ">{{ opportunities.count }}</span></a>
                        </li>
                        {% for stage in stages %}
                            <li>
                                <a href="{% url 'crm:kanban-opportunity' %}?q={{ stage.name }}"
                                   class="flex justify-between pb-3 text-gray-100">{{ stage.name }}
                                    <span class="bg-indigo-500 text-white text-xs font-medium  px-2 py-0.5 rounded">{{ stage.lead_set.all.count }}</span>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            <div class=" grid grid-cols-5 gap-5 p-5">
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-gray-100 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">NEW OPPORTUNITIES</p>
                        </div>
                    </div>
                    {% include 'components/cards/New_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-yellow-100 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">QUALIFIED</p>
                        </div>
                    </div>
                    {% include 'components/cards/Qualified_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-teal-100 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">PREPOSITION</p>
                        </div>
                    </div>
                    {% include 'components/cards/Preposition_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-indigo-200 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">WON</p>
                        </div>
                    </div>
                    {% include 'components/cards/Won_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-red-100 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">LOST</p>
                        </div>
                    </div>
                    {% include 'components/cards/Lost_kanban.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}