<div class=" grid grid-cols-5 gap-5 p-5">
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-gray-100 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">NEW OPPORTUNITIES</p>
                        </div>
                    </div>
                    {% include 'components/cards/New_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-yellow-100 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">QUALIFIED</p>
                        </div>
                    </div>
                    {% include 'components/cards/Qualified_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-teal-100 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">PREPOSITION</p>
                        </div>
                    </div>
                    {% include 'components/cards/Preposition_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-indigo-200 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">WON</p>
                        </div>
                    </div>
                    {% include 'components/cards/Won_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm bg-red-100 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center">LOST</p>
                        </div>
                    </div>
                    {% include 'components/cards/Lost_kanban.html' %}
                </div>
            </div>