<div class=" grid grid-cols-5 gap-5 p-5">
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm border-b-2 border-teal-300 mb-6 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center text-white">NEW OPPORTUNITIES</p>
                        </div>
                    </div>
                    {% include 'components/cards/New_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm border-b-2 border-teal-300 mb-6 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center text-white">QUALIFIED</p>
                        </div>
                    </div>
                    {% include 'components/cards/Qualified_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm border-b-2 border-teal-300 mb-6 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center text-white">PREPOSITION</p>
                        </div>
                    </div>
                    {% include 'components/cards/Preposition_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm border-b-2 border-teal-300 mb-6 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center text-white">WON</p>
                        </div>
                    </div>
                    {% include 'components/cards/Won_kanban.html' %}
                </div>
                <div>
                    <div class="border-0 border-gray-200 px-4 py-2 rounded-sm border-b-2 border-teal-300 mb-6 shadow-lg flex flex-row  items-center mb-2">
                        <div class="w-5/6 text-left ml-5 space-y-1">
                            <p class="leading-relaxed text-sm text-center text-white">LOST</p>
                        </div>
                    </div>
                    {% include 'components/cards/Lost_kanban.html' %}
                </div>
            </div>