{% extends 'base.html' %}
{% load crm_currency %}

{% block content %}
    <section class="m-0 box-border h-screen w-screen bg-gray-200 p-0 overflow-hidden">
        {% include 'components/navBar.html' %}
        <div class="sticky flex  h-full">
            {% include 'components/sideBar.html' %}
            <div class="overflow-y-scroll w-full">
                {% include 'components/stages.html' %}
                {% include 'components/modals/create_modal.html' %}
            </div>
        </div>
    </section>
{% endblock content %}
