{% extends 'base.html' %}
{% load crm_currency %}

{% block content %}
    <section class="text-gray-600 body-font px-10 pt-4 pb-6 bg-slate-900">
        <div class="grid grid-cols-5 gap-5 mb-4 w-full">
            <div class=" px-4 py-2 rounded-lg bg-slate-700 shadow-lg flex flex-row h-full items-center">
                <div class="flex justify-center items-center w-1/6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-cyan-300" fill="none" viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6 6.878V6a2.25 2.25 0 012.25-2.25h7.5A2.25 2.25 0 0118 6v.878m-12 0c.235-.083.487-.128.75-.128h10.5c.263 0 .515.045.75.128m-12 0A2.25 2.25 0 004.5 9v.878m13.5-3A2.25 2.25 0 0119.5 9v.878m0 0a2.246 2.246 0 00-.75-.128H5.25c-.263 0-.515.045-.75.128m15 0A2.25 2.25 0 0121 12v6a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 18v-6c0-.98.626-1.813 1.5-2.122"/>
                    </svg>
                </div>
                <div class="w-5/6 text-left ml-5 space-y-">
                    <p class="leading-relaxed text-sm text-gray-200 font-bold">NEW OPPORTUNITIES</p>
                    <h2 class="text-2xl font-medium text-base text-gray-300 ">{{ total_stage_new|currency }} </h2>
                    <h6 class="text-sm text-gray-400">Total Projects:<span class=" ml-4">{{ new }}</span></h6>
                </div>
            </div>
            <div class="px-4 py-2 rounded-lg bg-slate-700 shadow-2xl flex flex-row h-full items-center">
                <div class="flex justify-center items-center w-1/6">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                         stroke-width="2" class="text-teal-500 w-8 h-8 mb-3 inline-block" viewBox="0 0 24 24">
                        <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                    </svg>
                </div>
                <div class="w-5/6 text-left ml-5 space-y-1">
                    <p class="leading-relaxed text-sm text-gray-200 font-bold">QUALIFIED</p>
                    <h2 class="title-font font-medium text-base  text-gray-300">{{ total_stage_qualified|currency }}</h2>
                    <h6 class="text-sm text-gray-400">Total Projects:<span class=" ml-4">{{ qualified }}</span></h6>
                </div>
            </div>
            <div class="px-4 py-2 rounded-lg bg-slate-700 shadow-2xl flex flex-row h-full items-center">
                <div class="flex justify-center items-center w-1/6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="text-yellow-500 w-8 h-8 mb-3 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"/>
                    </svg>
                </div>
                <div class="w-5/6 text-left ml-5 space-y-1">
                    <p class="leading-relaxed text-base text-gray-200 font-bold">PREPOSITION</p>
                    <h2 class="title-font font-medium text-base text-gray-300">{{ total_stage_preposition|currency }}</h2>
                    <h6 class="text-sm text-gray-200">Total Projects:<span class=" ml-4">{{ preposition }}</span></h6>
                </div>
            </div>
            <div class="px-4 py-2 rounded-lg bg-slate-700 shadow-2xl flex flex-row h-full items-center">
                <div class="flex justify-center items-center w-1/6">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="text-indigo-500 w-8 h-8 mb-3 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M16.5 18.75h-9m9 0a3 3 0 013 3h-15a3 3 0 013-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 01-.982-3.172M9.497 14.25a7.454 7.454 0 00.981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 007.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 002.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 012.916.52 6.003 6.003 0 01-5.395 4.972m0 0a6.726 6.726 0 01-2.749 1.35m0 0a6.772 6.772 0 01-3.044 0"/>
                    </svg>
                </div>
                <div class="w-5/6 text-left ml-5 space-y-1">
                    <p class="leading-relaxed text-base text-gray-200 font-bold">WON</p>
                    <h2 class="title-font font-medium text-base  text-gray-300">{{ total_stage_won|currency }}</h2>
                    <h6 class="text-sm text-gray-400">Total Projects:<span class=" ml-4">{{ won }}</span></h6>
                </div>
            </div>
            <div class="px-4 py-2 rounded-lg bg-slate-700 shadow-2xl flex flex-row h-full items-center">
                <div class="flex justify-center items-center w-1/6 ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="text-red-500 w-8 h-8 mb-3 inline-block">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.182 16.318A4.486 4.486 0 0012.016 15a4.486 4.486 0 00-3.198 1.318M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"/>
                    </svg>
                </div>
                <div class="w-5/6 text-left ml-5 space-y-1">
                    <p class="leading-relaxed text-base text-gray-200 font-bold">LOST</p>
                    <h2 class="title-font font-medium text-base  text-red-500">{{ total_stage_lost|currency }}</h2>
                    <h6 class="text-sm text-gray-400">Total Projects:<span class=" ml-4">{{ lost }}</span></h6>
                </div>
            </div>
        </div>
        <div class=" flex flex-wrap 2xl:w-full ">
            <div class="flex flex-wrap w-full rounded-lg py-10 px-10 mb-4 relative  bg-slate-700 shadow-xl">
                <canvas id="barChart" width="400" height="50"></canvas>
            </div>
            <div class="grid grid-cols-2 gap-10 w-full">
                <div class="rounded-lg  py-4 px-10 relative bg-slate-700 shadow-xl">
                    <canvas id="pieChart" width="200" height="100"></canvas>
                </div>
                <div class="rounded-lg py-4 relative bg-slate-700 shadow-xl">
                    <canvas id="polarChart" width="150" height="100"></canvas>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            {% include 'graphs/pie.js' %}
            {% include 'graphs/polar.js' %}
            {% include 'graphs/bar.js' %}
        });
    </script>
{% endblock scripts %}